/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background: #F4F0EE;

} */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Inter', 'Dancing Script', cursive, 'Anton', sans-serif;
  background: linear-gradient(180deg, #F4F0EE 0%, #F4F0EE 0%, #F4F0EE 0%);
}

.rec-carousel-wrapper{
  @media (max-width: 350px) {
      padding: 0 !important;
    }
}

.rec-arrow-right{
  height: 25px !important;
  width: 25px !important;
  min-width: 25px !important;
  font-size: 1rem !important;
  line-height: 0 !important;

}
.rec-arrow-left {
  height: 25px !important;
  width: 25px !important;
  min-width: 25px !important;
  font-size: 1rem !important;
  line-height: 0 !important;

}
